@import "tailwindcss";

@theme {
  --color-primary: #4C84FF;
  --color-secondary: #FF9F43;
  --color-background: #FAFBFC;
  --color-muted: #8A99AF;
  --color-sidebar: #F1F1FE;
}

body {
  @apply bg-background text-[#2C3E50] antialiased;
}
